[Desktop Entry]
Type=Application
Version=1.5
Name=GNS3
GenericName="Network Simulator"
Comment=GNS3 Graphical Network Simulator
Icon=com.gns3.GNS3
Exec=gns3 %f
Terminal=false
MimeType=application/x-gns3;application/x-gns3appliance;application/x-gns3project;
Categories=Education;Network;
Keywords=simulator;network;netsim;
